[2014-08-06 16:30] c0g opened #3 "error compiling __parsehtml#"
Hi,

Installed Gumbo as in the readme, but when I try to run it I get error:

[code]

[I have a few LD warnings in the build](http://pastebin.com/brBcs8SD)

[2014-08-11 06:59] #3 closed, assigned to nobody

[2014-11-21 00:07] vgupta1 opened #5 "Build Error on OSX"
Hi!

Trying to install Gumbo.  Got this build error.  Calling Pkg.build directly gives same error:

INFO: Attempting to Create directory /Users/vishalgupta/.julia/v0.3/Gumbo/deps/src/gumbo-1.0
tar: Unrecognized archive format
tar: Error exit delayed from previous errors.
========================================================[ ERROR: Gumbo ]========================================================

[2014-12-04 21:27] kbuzby opened #6 "Implement pretty printing of elements and documents"
I'm trying to read an html file and change a specific value based on a julia script that is running. I figured that I would be able to modify the contents of the html file with this package, but I'm a little unsure of how to go about it.
Ideally, I'd be able to use the tree traversal to locate the specific element I want to modify, but after parsing the file and trying to do this a few times it se

[2014-12-05 01:54] #5 closed, assigned to nobody

[2014-12-19 14:09] #6 closed, assigned to nobody

[2015-03-02 15:20] paulanalyst opened #8 "What wrong ? ERROR: MethodError: `tag` has no method matching tag(::Gumbo.HTMLText) in anonymous at no file:2"
What wrong ? I expect list of all tags...

  | | |_| | | | (_| |  |  Version 0.4.0-dev+3600 (2015-02-25 15:26 UTC)
 _/ |\__'_|_|_|\__'_|  |  Commit f96c23c* (4 days old master)
|__/                   |  x86_64-w64-mingw32

julia> using HTTPClient.HTTPC

julia> using Gumbo

julia> r=HTTPC.post("http://requestb.in/api/v1/bins", "")
HTTP Code   :200
RequestTime :14.804
Headers     :
    Connection :

[2015-03-02 15:58] paulanalyst opened #9 "somethink wrong in Julia 4.0 with Gumbo"
somethink wrong in Julia 4.0 with Gumbo  , at 3.6 ids ok on my machine.
(file  example.html is in needed dir)
  _       _ _(_)_     |  A fresh approach to technical computing
 (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
  _ _   _| |_  __ _   |  Type "help()" for help.
 | | | | | | |/ _` |  |
 | | |_| | | | (_| |  |  Version 0.4.0-dev+3600 (2015-02-25 15:26 UTC)
_/ |\__'_|_|_|\

[2015-03-03 04:30] porterjamesj commented on #9
I explicitly don't support Julia 0.4 since it's been changing so fast and I don't have the time or energy right now to keep up with it. I'm planning on updating to support it once release candidates start coming out. Sorry! :/

[2015-03-03 04:30] #9 closed

[2015-03-03 04:31] porterjamesj commented on #9
I'm more than happy to accept pull requests for changes to improve 0.4 compatibility though.

[2015-03-03 04:31] porterjamesj commented on #8
Well first of all it looks like you're trying to parse JSON data as HTML? But in any case this probably shouldn't happen, I'll try to take a look soon.

[2015-03-03 04:33] porterjamesj commented on #8
errr actually, sorry This makes perfect sense. `tag` isn't a sensible method to implement on HTML text, so you can't just call it on any `HTMLNode` and expect it to work—it only works on `HTMLElement`s.

[2015-03-03 04:33] #8 closed

[2015-03-03 21:01] paulanalyst opened #10 "How to extract the contents of elements such as div"
How to extract the contents of elements such as div ?
I suspect all "body" of divs..

julia> for elem in preorder(body)
      #println(elem)
      if typeof(elem)==HTMLElement{:div} push!(divy,(elem)) end
      end

julia> unique(divy)
289-element Array{Any,1}:
Gumbo.HTMLElement{:div}
Gumbo.HTMLElement{:div}
Gumbo.HTMLElement{:div}
Gumbo.HTMLElement{:div}
Gumbo.HTMLElement{:div}
Gumbo.HTMLElement{

[2015-03-03 21:36] porterjamesj commented on #10
If you have an HTMLElement `elem`, `children(elem)` will return the array of it's child nodes. So concretely in you example `children(divy[1])` would get the children of the first div, etc. Does that work for you?

[2015-03-04 10:49] paulanalyst commented on #10
OK, now i have (add children):
divy=[]
for elem in preorder(body)
#println(elem)
if typeof(elem)==HTMLElement{:div} push!(divy,children(elem)) end
end

if  I call now divy[1]
julia> divy[1]
3-element Array{Gumbo.HTMLNode,1}:
 Gumbo.HTMLElement{:p}
 Gumbo.HTMLElement{:span}
 Gumbo.HTMLElement{:script}

but  if  I call divy[1:1] i have the body of first div.
Question: Is it the best way to get body

[2015-03-04 11:06] paulanalyst commented on #10
ok, i see :)
After
divy=[]
for elem in preorder(body)
#println(elem)
if typeof(elem)==HTMLElement{:div} push!(divy,(elem)) end
end
divy[1] return body of this div, ....nice...
julia> divy[1]
Gumbo.HTMLElement{:div}:
<div class="mail-info--content">
  <p>
    Prawdopodobnie dawno nie było Cię w Wirtualnej Polsce. Zobacz jak się zmieniła!
  </p>
  <span class="mail-info--close"></span>
  <script>

[2015-03-04 12:14] paulanalyst opened #11 "How to save to disk HTMLElement ?"
How to save to disk HTMLElement ?

save to jld makes errors and exclusion julia

r = HTTPC.get(url,RequestOptions(
request_timeout=8.0,
callback=customize_curl))
page = bytestring(r.body)
doc = parsehtml(page)
body = getBody(doc) # function getBody from Your page
julia> body
HTMLElement{:body}:
<body class="bodyBox"itemscope="itemscope"itemtype="http://schema.o
  <script type="text/javascript"> /*

[2015-03-04 12:15] paulanalyst commented on #11
Version 0.3.6 (2015-02-17 22:12 UTC)
Official http://julialang.org/ release
x86_64-w64-mingw32

Paul

[2015-03-04 16:03] #10 closed

[2015-03-05 15:51] porterjamesj commented on #11
you should be able to do `prettyprint(io, elem)` to print a reasonably readable representation of an element to an IO (such as an open file, STDOUT, etc.)

[2015-03-05 16:01] paulanalyst commented on #11
:/
julia> prettyprint(io, body)
ERROR: UndefVarError: prettyprint not defined

help?> prettyprint
search:

Couldn't find prettyprint
Perhaps you meant prevind

julia>

W dniu 2015-03-05 o 16:51, James J Porter pisze:

[2015-03-05 16:03] paulanalyst commented on #11
julia> function prettyprint(io::IO, elem::HTMLElement, maxlines)
        for (i,(depth, line)) in enumerate(linesof(elem))
        if i == maxlines
        write(io,". . . \n")
        return
        else
        write(io,repeat(" ",depth)*line*"\n")
        end
        end
        end
prettyprint (generic function with 1 method)

julia> prettyprint(io, body)
ERROR: UndefVarError: io not defined

[2015-03-05 16:07] paulanalyst commented on #11
julia> f = open("file.txt","w")
IOStream(<file file.txt>)

julia> prettyprint(f, body)
ERROR: MethodError: `prettyprint` has no method matchi
Closest candidates are:
   prettyprint(::IO, ::Gumbo.HTMLElement{T}, ::Any)

julia>

W dniu 2015-03-05 o 16:51, James J Porter pisze:

[2015-03-08 18:15] porterjamesj commented on #11
hmmm, that is very odd, it's definitely there in the latest version (0.1.2):

[code]

Can you paste the output of `Pkg.installed("Gumbo")`?

[2015-03-10 18:51] paulanalyst commented on #11
at julia 3 is ok , julia 4 not :

                _
    _       _ _(_)_     |  A fresh approach to technical computing
   (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
    _ _   _| |_  __ _   |  Type "help()" for help.
   | | | | | | |/ _` |  |
   | | |_| | | | (_| |  |  Version 0.4.0-dev+3600 (2015-02-25 15:26 UTC)
  _/ |\__'_|_|_|\__'_|  |  Commit f96c23c* (13 days old master)

[2015-03-11 02:14] porterjamesj commented on #11
As I said before, I explicitly chose not to support 0.4 while it's under development since the pace of breaking changes is so rapid; I'll make the port to 0.4 after it's released.

I'll close this for now, feel free to reopen if you find anything buggy with this on 0.3 :)

[2015-03-11 02:14] #11 closed

[2015-03-23 15:40] ibanez4510 opened #12 "Failed to add package"
I get the following error when adding Gumbo via Pkg.add("Gumbo") on a recent (today) installation of Julia from git

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now
===============================================[ ERROR: Gumbo ]===============================================

LoadError: failed process: Process(`tar xzf /home/ibanez/.julia/v0.

[2015-03-30 17:50] porterjamesj commented on #12
Gumbo doesn't support Julia 0.4 since I don't have the bandwidth to keep up with all the breaking changes, so for now you'll have to use 0.3 if you want to use Gumbo. I'm planning on updating to support 0.4 once a release candidate is cut.

[2015-03-30 17:50] #12 closed

[2015-04-09 04:42] jiahao opened #13 "URL dead?"
Dependency points to `http://jamesporter.me/julia/gumbo-1.0.tar.gz` but this URL now returns a 404

[2015-04-09 04:59] porterjamesj commented on #13
uh oh, thanks for the report, I'll take a look. This is odd because I haven't unpdated my website in ages . . .

[2015-04-09 05:05] porterjamesj commented on #13
hmmm that URL still works for me:

[code]

and PkgEval is stlll passing: http://pkg.julialang.org/?pkg=Gumbo&ver=release

[2015-04-09 05:36] jiahao commented on #13
Apparently I downloaded a tar file which was just a 404 page and that confused BinDeps. Just tried again and it seems to work now. Sorry for the noise.

[2015-04-09 05:36] #13 closed

[2015-04-09 05:37] porterjamesj commented on #13
yeah, there was a time when it was 404ing when I reorganized my website, which caused a lot of pain since BinDeps cached the 404 page believing it to be the downloaded tarball and you had to go clear it out manually.

[2015-04-10 11:42] paulanalyst opened #15 "How works with https ?"
_
   _       _ _(_)_     |  A fresh approach to technical computing
  (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
   _ _   _| |_  __ _   |  Type "help()" for help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 0.4.0-dev+3600 (2015-02-25 15:26 UTC)
 _/ |\__'_|_|_|\__'_|  |  Commit f96c23c* (43 days old master)
|__/                   |  x86_64-w64-mingw32

julia> ur

[2015-04-10 16:02] porterjamesj commented on #15
This is an `HTTPClient` issue, not a Gumbo one. Gumbo doesn't talk to the network at all, it only deals with parsing HTML once you've gathered it from wherever you want. I personally recommend https://github.com/JuliaWeb/Requests.jl for HTTP in Julia, I've used it successfully in the past.

[2015-04-10 16:02] #15 closed

[2015-08-29 22:16] ruliana opened #17 "URL dead (again)?"
I got the following error message when executing:

[code]

Here the error:

[code]

Is the URL really dead or am I doing something wrong? =\

[2015-08-29 22:36] ruliana commented on #17
I verified the following file:

/home/ronie/.julia/v0.4/Gumbo/deps/build.jl

And find the this at line 7:

[code]

Then I removed the **static** in the path and Pkg.build("Gumbo"). Now it works ^_^

Before trying that, I removed the pkg twice (Pkg.rm("Gumbo")) a I tried twice to install it with no success.

[2015-08-30 19:07] jiahao commented on #17
Would it be easier to simply clone from https://github.com/google/gumbo-parser rather than maintain your own?

[2015-08-31 14:37] porterjamesj commented on #17
@ruliana sorry for the hassle. [current master has the correct url](https://github.com/porterjamesj/Gumbo.jl/blob/ae072eeb6a7fe31950470dbf4a24e9a69d30e7b7/deps/build.jl#L8), so I suspect this is some sort of caching issue?

@jiahao the problem is that https://github.com/google/gumbo-parser requires running `./autogen.sh` to build, which BinDeps doesn't do. I opened [an issue about it](https://gith

[2015-08-31 15:58] jiahao commented on #17
@porterjamesj if master has the correct URL, then I think all you need to is tag a new version and submit a PR to METADATA.jl

[2015-08-31 16:38] ruliana commented on #17
Also, Gumbo.jl 0.1.2 is tagged ``julia 0.4-`` in REQUIRE file, I guess that could be removed as 0.1.2 is pretty compatible to julia 0.4 (as far as I could test).

Want me to make a PR with that? ^_^

[2015-08-31 17:03] jiahao commented on #17
@ruliana I'm not sure what you think that line means, but it means "Julia 0.4 prereleases or higher". Do you mean `julia 0.3` because it is 0.3 compatible?

[2015-08-31 17:12] ruliana commented on #17
Maybe I didn't undestand the [doc](http://julia.readthedocs.org/en/latest/manual/packages/#require-speaks-for-itself) :(

The line in [REQUIRE file](https://github.com/porterjamesj/Gumbo.jl/blob/v0.1.2/REQUIRE) is:
[code]

If I got that right, it means: "version 0.3 up to 0.4 pre-release, *not* included". Is that correct? =/

[2015-08-31 17:24] jiahao commented on #17
Yes, but I've already changed the [version requirements on master](https://github.com/porterjamesj/Gumbo.jl/blob/ae072eeb6a7fe31950470dbf4a24e9a69d30e7b7/REQUIRE#L1) in the same PR to update the syntax to 0.4 compatibility. If @porterjamesj tags the current commit then the next release should be correctly tagged.

[2015-08-31 18:32] ruliana commented on #17
Ahhh! Got it ^_^

Sorry for the confusion. m(_ _)m

[2016-06-29 18:37] Yawolf opened #20 "Build Error (MethodError: No matching keys)"
Hi! I'm using Julia 0.5.0 because a bug in the Package Manager on 0.4.6 version. When I run `Pkg.add("Gumbo")`, the building process ends with this errror:

[code]

Thank you! :D

[2016-06-29 18:48] porterjamesj commented on #20
It looks like the dictionary declaration syntax [here](https://github.com/porterjamesj/Gumbo.jl/blob/4259cc8b5e9117c94cd9ffc4f40923132e6630d2/deps/build.jl#L19) is no longer valid on 0.5? Not sure. I make no attempt to support development versions of Julia with this package until they're actually released, it's just too much effort to keep up with all the changes. I would happily accept PRs to fix

[2016-06-29 18:55] Yawolf commented on #20
Looks like the error is what you said, a change in the syntax. I will try to fix it when I have a little more free time :D

[2016-06-29 18:57] porterjamesj commented on #20
Thank you! And sorry it doesn't work already :/ I think an 0.5 release candidate is in principle going to happen soon, when it does I'll do through and fix everything that broke.

[2016-07-02 21:45] hustf opened #21 "Outdated security certificate on windows binary source"
Duplicate issue, not how I can delete it though..

[2016-07-02 21:49] #21 closed

[2016-07-02 21:56] porterjamesj commented on #20
Should be fixed by https://github.com/porterjamesj/Gumbo.jl/pull/22

[2016-07-02 21:56] #20 closed

[2016-08-01 13:23] aviks opened #23 "Fails to build with 0.5"
[code]

[2016-08-01 13:25] aviks commented on #23
This is probably due to a the Dict syntax which was deprecated in 0.4, and hence removed in 0.5. Trying to build Gumbo in 0.4 shows

[code]

[2016-08-01 13:26] aviks commented on #23
Actually this seems fixed in #22 . Could you possibly tag a new version please, so that downstream dependencies can use this?

[2016-08-01 15:14] porterjamesj commented on #23
@aviks sure!

[2016-08-01 21:46] porterjamesj commented on #23
https://github.com/JuliaLang/METADATA.jl/pull/5779

[2016-08-02 09:52] aviks commented on #23
Thanks! FYI https://github.com/Algocircle/Cascadia.jl is now a dependency of Gumbo.jl

[2016-08-02 09:52] #23 closed

[2016-08-02 13:42] porterjamesj commented on #23
@aviks cool! glad someone's using it :) let me know if you have any feature requests, i have some bandwidth to work on this right now.

[2016-09-23 15:28] ssfrr opened #25 "Tag new release?"
Now that 0.5 is out of RC (:wink:) it seems like a good time to tag a release of Gumbo with the 0.5 deprecation warning fixes.

[2016-09-23 16:25] porterjamesj commented on #25
yeah! i will do it this weekend

[2016-10-20 20:56] nico202 commented on #25
Can be closed?

[2016-10-21 22:49] #25 closed

[2017-03-09 22:29] essenciary opened #30 "Printing indentation is incorrect"
For some reason Gumbo automatically closes `<p>` elements.

Ex:
[code]

You can see in the above example how it closes `<p class="repo-description">` and creates an empty `<p></p>` where the closing tag was.

Other elements are fine:
[code]

Thank you

[2017-03-10 17:26] porterjamesj commented on #30
Huh, interesting. I'm about to go on vacation so I won't have time to look into it for at least a week or so.

One thing that would be helpful to know, if you have time to investigate—does the same thing happen if you use the Gumbo c library directly, or [one of the other libraries that wrap it](https://github.com/google/gumbo-parser#external-bindings-and-other-wrappers)?

I ask because Gumbo.jl i

[2017-03-17 12:00] essenciary commented on #30
I've never tried calling C code from Julia so I'm not sure how long would that take. But I can dust off my rubies and make a quick test with https://github.com/nevir/ruby-gumbo ? It should be good enough to give us an idea.

[2017-03-17 12:39] essenciary commented on #30
Well, it looks like Gumbo itself is broken. Here's the Ruby version:

[code]

In this version it does not close the first `<p>` but it does add an opening `<p>` at the bottom.

[2017-03-17 12:43] essenciary commented on #30
@porterjamesj Can you please open an issue with Gumbo? I think you can provide more useful information in regards to the original C code, versus me using only wrappers from other languages.

[2017-03-26 03:39] porterjamesj commented on #30
I had a bit of time to dig into this tonight. The long and short of it is that as far as I can tell, `Gumbo.jl` and `ruby-gumbo` are correct in their parsing of this HTML. It took me a while to realize, but the relevant part of the HTML spec is [here](https://html.spec.whatwg.org/multipage/semantics.html#the-p-element), specifically the bit where it says:

(emphasis mine). Based on the above, the

[2017-03-26 16:47] essenciary commented on #30
Thank you, that's good to know.

However, that's still wrong, isn't it? Gumbo is doing a bad job when eagerly closing tags of a valid HTML doc. The spec says that it _can_ not that it _must_. It's trying to do something smart, but fails.

I assume using the `strict` option disables this behavior.

Thanks again for looking into this.

[2017-03-26 17:52] porterjamesj commented on #30
I'm fairly confident that gumbo is not wrong—`blockquote` elements aren't allowed to appear inside `p` elements, so what gumbo is doing here is only correct way to parse this. [This stack overflow discussion](https://stackoverflow.com/questions/8397852/why-p-tag-cant-contain-div-tag-inside-it) does a pretty good job of explaining why. It's talking about `div`s, but the discussion is equally valid

[2017-03-26 17:57] porterjamesj commented on #30
btw I just realized you're the person working on Genie, cool stuff! Let me know if there's anything I can do with Gumbo to make your life easier. I suspect you may eventually want to move to another parser since Gumbo is relatively inflexible due to being a wrapper around a C library, but I'll do my best under the circumstances :)

[2017-04-02 15:40] essenciary commented on #30
Yes, you're right.

I've tried the HTML validator at W3C and indeed, it behaves in a similar way (although it's not clear at all, it must be because the opening <p> is automatically closed):

---

Re Genie, thank you very much :) Any helping hand is more than welcome :)

I'm using Gumbo with Genie in the view layer, in a templating library called Flax -- for transpiling from HTML to native Julia c

[2017-04-12 19:18] aviks opened #31 "both AbstractTrees and Gumbo export "children""
In the current version of Gumbo, it seems to be impossible to use the `children` method without qualifying it. This seems perverse when `Gumbo` extends `children` from `AbstractTrees`.  I don't yet have a satisfying solution to this.

[code]

[2017-04-13 14:58] porterjamesj commented on #31
huh weird. I don't remember what I was thinking, maybe that having children exported would be convenient because you wouldn't have to care about importing `AbstractTrees` at all? In any case I'll look into it.

[2017-04-15 00:56] porterjamesj commented on #31
OK, now I remember. I did this to avoid backwards incompatible changes: Gumbo has always had a `children` method and I wanted that to continue to be the case. I agree that the above situation is very annoying though. It would be nice if Julia were able to prove that the two definitions of `children` are in fact that same and not complain about the conflict.

The only thing I can think to do to avo

[2017-04-15 06:32] #30 closed

[2017-04-15 06:33] #17 closed

[2017-04-15 06:37] porterjamesj opened #33 "Add way to distinguish block from inline elements"
Along with making pretty printing of inline elements all on one line.

I know this distinction is not technically valid anymore in HTML5, but it's still a thing people care about.

[2017-04-15 06:37] porterjamesj opened #34 "Support comments and CDATA"
Right now we silently discard these.

[2017-06-26 17:33] essenciary opened #37 "Broken on Julia v0.6"
Hi,

Does Gumbo work for you on v0.6? I'm getting an error coming from AbstractTrees - I was wondering if you found a workaround? I already opened an issue with AbstractTrees.

[code]

[2017-06-26 19:50] porterjamesj commented on #37
I haven't done anything with 0.6-final yet. That said, it looks like the only reason I'm loading AbstractTrees is to provide deprecations for the handcrafted traversal functions Gumbo used to have. I feel comfortable removing these entirely in the next release—the upshot of this being that once I find the time to go through and fix 0.6 deprecations and cut a new release this issue should go away.

[2017-07-06 01:47] porterjamesj commented on #37
@essenciary Everything seems to work fine with AbstractTrees 0.1.0. I've cut a release of Gumbo that updates the AbstractTrees dependency to this version.

[2017-07-06 01:47] #37 closed

[2017-07-22 18:53] essenciary opened #40 "Broken on v0.6"
You probably know already, but just in case - it's broken on v0.6 due to broken AbstractTrees.jl
Is it possible to remove the dependency?

[2017-08-18 20:16] porterjamesj commented on #40
Sorry for long reply! The usual excuses about business, etc.

Hmmm, as I indicated in #37, I don't believe this to be the case anymore since version 0.4.0. [Travis](https://travis-ci.org/porterjamesj/Gumbo.jl/builds/250607774) and [PkgEval](https://pkg.julialang.org/detail/Gumbo.html) both indicate that the package loads and tests pass on 0.6.

Can you share the results of calling `versioninfo()`,

[2017-08-22 23:02] essenciary commented on #40
@porterjamesj
Annoyingly enough, it's still there. Fresh install of Julia v0.6, I get:

[code]

[code]

[2017-08-22 23:04] essenciary commented on #40
Yup, the dependency is still there,
https://github.com/porterjamesj/Gumbo.jl/blob/master/src/manipulation.jl

[2017-08-22 23:16] essenciary commented on #40
Actually, it looks like I'm on AbstractTrees v0.0.4!

[2017-08-23 13:24] essenciary commented on #40
Sorry for that, I wasn't aware - I was running `Pkg.update()` like a maniac, but `Pkg` just kept the package downgraded and I wasn't aware there are new versions out.

[2017-08-23 13:24] #40 closed

[2017-08-24 16:20] porterjamesj commented on #40
No worries! Possibly you had another installed package that was keeping AbstractTrees at an earlier version? I don't really understand how the `Pkg` resolution algorithm works . . . hopefully this will be a lot better when Pkg3 comes out.

[2017-11-01 14:08] sononix opened #41 "Gumbo install on 0.6"
Running into an issue of installing gumbo and a docker debian installation - relatively clean install

was trying to install Genie which a Gumbo dependency....

ProcessExited(77)) [77]
while loading /root/.julia/v0.6/Gumbo/deps/build.jl, in expression starting on line 19

are there any environmental variable that need to be set prior to use

tks
M

[2017-11-19 22:09] porterjamesj commented on #41
@sononix there shouldn't be! I'll definitely need more information than this to figure out what's wrong . . . can you paste a more complete log of what happens? (i.e. everything from when you typed `Pkg.install` to where that `PrcoessExited` error happens?

[2018-02-09 16:52] programistawpf opened #42 "What wrong ? ERROR: UndefVarError: Leaves not defined"
Version 0.6.0 (2017-06-19 13:05 UTC)
Official http://julialang.org/ release
x86_64-w64-mingw32

julia> using Gumbo

julia> url="http://wp.pl"
"http://wp.pl"

julia> getpage(url) = parsehtml(String(read(download(url))))
getpage (generic function with 1 method)

julia> text_only(doc::HTMLDocument) = text_only(doc.root)
text_only (generic function with 1 method)

julia> text_only(frag) = join([text(l

[2018-02-09 18:49] programistawpf opened #43 "what to do with charset=Windows-1250 ?"
If I am parsing site: rp.pl (charset=Windows-1250)  lost every national char.  like
"t�umaczy"
"ustawie�"
corect is
"tłumaczy "
"ustawień"

How to do? How to read this site by this line
doc=parsehtml(String(read(download(url))))
Paul

[2018-02-20 17:22] programistawpf commented on #42
ok

[2018-02-20 17:23] #43 closed

[2018-02-20 17:23] programistawpf commented on #43
ok,

[2018-02-20 17:28] programistawpf opened #44 "what to do ? ERROR: automatic download failed (error: 2148270088): http://gazeta.pl"
julia> using Gumbo

julia> using AbstractTrees

julia> using StringEncodings

julia> getpage(url) = parsehtml(String(read(download(url))))
getpage (generic function with 1 method)
ERROR: automatic download failed
What to do ?
julia> text_only(doc::HTMLDocument) = text_only(doc.root)
text_only (generic function with 2 methods)

julia> text_only(frag) = join([text(leaf) for leaf in Leaves(frag) if l

[2018-02-27 00:24] aviks opened #45 "Gumbo Build"
I have a BinaryBuilder setup for Gumbo that builds the library on all platforms. This should make it easier and more reliable to support.

The repo is here: https://github.com/aviks/GumboBuilder

@porterjamesj happy to add you to the repo.

One question: In the repo above, I'm building the current master from https://github.com/google/gumbo-parser. In your current build.jl, you are downloading a v

[2018-02-27 21:53] porterjamesj commented on #45
@aviks thanks for doing this!

I've been casually-but-not-closely watching the BinaryBuilder stuff happening, but I'm not super clear on how far along it is (is it 1.0 and everyone should switch over? still not there?) or exactly how it works (does this builder need to be a separate repo? Can I just keep this code in the Gumbo.jl repo? How do different steps get triggered? Where are the resulting

[2018-02-27 23:21] aviks commented on #45
So the BinaryBuilder is ready now, works fine on 0.6. So projects can start moving now, does not need to wait for 1.0.

So the way it works is as follows: The `XXXBuilder` repo contains the build recipe to build a particular project. Then the code in BinaryBuilder.jl can take those recipes, and will cross compile the project for many different environments. And while those build recipes can stay i

[2018-02-28 03:53] porterjamesj commented on #44
This is definitely not a problem with Gumbo. I'm not sure where that "automatic download failed" error is coming from, but it's definitely not Gumbo, since Gumbo doesn't deal with downloading HTML from the web, only parsing it once you have it in memory. I'm guessing something is wrong in your `download` function, wherever that came from.

[2018-02-28 03:53] #44 closed

[2018-02-28 03:54] porterjamesj commented on #41
@sononix I'm going to close this since I don't have enough information to usefully debug, feel free to reopen if you can provide more info.

[2018-02-28 03:54] #41 closed

[2018-04-17 21:52] essenciary opened #46 "Wrong parsing of non standard (polymer) tags"
Most likely this is not an issue in the Julia wrapper, but I'm wondering if you have any idea on how to solve this? Thank you!

I'm trying to parse polymer web components, but Gumbo chokes on them. Can it be "taught" how to handle extra elements?

[code]

[2018-05-21 14:27] essenciary commented on #46
up?

[2018-05-21 14:31] essenciary commented on #46
Opened a ticket with the gumbo-parser too.

[2018-05-21 14:56] porterjamesj commented on #46
Hey! Sorry for lack of reply; I've been very busy 😓. It's possible this is a bug in the Julia code? IIRC gumbo generally handles wacky nonstandard tags pretty well, so I'm not sure what's going on. It's been long enough since I've worked with this code though that I don't remember offhand. I'm also not sure when I'll have time to look into it, sorry :/

[2018-05-21 15:45] essenciary commented on #46
@porterjamesj Thanks for the reply - no worries :) I'll take a look, see if I can spot anything in the Julia code.

[2018-05-21 17:00] porterjamesj commented on #46
Thank you! :)

[2018-05-30 20:45] essenciary commented on #46
@porterjamesj I found the problem and submitted a pull request.

[2018-05-30 20:50] essenciary commented on #46
The AppVeyor check has failed but I can't see anything wrong with the code:

[code]

[2018-05-31 14:27] essenciary commented on #46
Just a friendly ping to merge the pull request, in case the original messages were missed :)

[2018-06-01 19:34] porterjamesj commented on #46
Closed by #47

[2018-06-01 19:34] #46 closed

[2018-06-05 15:54] essenciary commented on #46
Can you please tag a new release with the fix?

[2018-06-09 23:29] porterjamesj commented on #46
done! https://github.com/JuliaLang/METADATA.jl/pull/15101 sorry for the delay

[2018-06-10 08:10] essenciary commented on #46
Thank you!

[2018-07-14 20:23] ninjin opened #53 "“TypeError: in Tuple, in parameter, expected Type, got HTMLText” when iterating on 0.7.0-beta2.0"
The following simple example runs fine using Julia 0.6.4.

[code]

However, on Julia 0.7.0-beta2.0 it goes down in flames.

[code]

I am sure this is due to some changes that came with 0.7, but I am still working on catching up with the release so I am not entirely sure what is going wrong.

[2018-07-16 15:53] porterjamesj commented on #53
Hi @ninjin, Gumbo doesn't support 0.7 yet, so this is not at all surprising, probably almost nothing will work. You can track progress on 0.7 support in https://github.com/JuliaWeb/Gumbo.jl/pull/52!

[2018-07-16 15:53] #53 closed

[2018-07-19 13:07] ninjin commented on #53
Thanks @porterjamesj, apologies for missing the PR, only checked the issues and saw nothing about 0.7.

[2018-08-09 08:38] Alexander-Barth opened #54 "Installation fails (server jamesporter.me is down)"
The installation for Gumbo.jl currently fails on travis CI because the server jamesporter.me is down.
https://travis-ci.org/gher-ulg/PhysOcean.jl/jobs/413749067#L498

Thank you for your help and this very useful package!

[2018-08-09 15:50] porterjamesj commented on #54
Whoops, sorry about that! Not sure how my site was down, restarted nginx and all appears to be well.

Also, I'm going to be cutting a release soon that makes it so the build doesn't involve my personal site anymore, and instead uses some much better Julia shared infrastructure for distributing binary dependencies.

[2018-08-09 15:50] #54 closed

[2018-08-15 22:59] miguelraz opened #56 "1.0 error on build"
[code]

[2018-08-16 02:00] porterjamesj commented on #56
Sorry, I haven't yet cut a release that works with 1.0 yet. If you `add https://github.com/JuliaWeb/Gumbo.jl` it should work. I'll cut one shortly and then you'll be able to add from the registry.

[2018-08-16 02:02] miguelraz commented on #56
Great!
Bio.jl has this as a dependency so I was just trying to help them tag along to 1.0.
Thanks!

[2018-08-16 02:03] porterjamesj commented on #56
👍 sorry for the holdup! I was going to tag a release a few days back, but there were some unresolved issues with the appveyor build that Avik thankfully helped me out with

[2018-08-16 02:07] miguelraz commented on #56
All's good!
Be sure to message people in #upgradathon on slack if they don't merge the PR to Metadata.jl soon though - I believe attobot is a bit sick lately.

[2018-08-16 04:08] attobot opened #60 "Error tagging new release"
The URL of this package does not match that stored in METADATA.jl.
cc: @porterjamesj

[2018-08-16 04:08] attobot opened #61 "Error tagging new release"
The URL of this package does not match that stored in METADATA.jl.
cc: @porterjamesj

[2018-08-16 04:12] #61 closed

[2018-08-16 09:02] aviks commented on #60
I've re-tagged a release now that the URL has changed in METADATA.jl

https://github.com/JuliaLang/METADATA.jl/pull/16917

[2018-08-16 09:02] #60 closed

[2018-08-16 15:14] miguelraz commented on #56
Build worked perfectly!
This means Bio.jl deps are 1.0 compatible, thanks!

[2018-08-16 15:17] porterjamesj opened #62 "Cleanup show, print, etc."
The whole display situation has ended up a bit of a mess.

I'd also like to think about `display` and MIME types, e.g. how should Gumbo types be shown in Jupyter notebooks.

[2018-08-16 15:18] porterjamesj commented on #56
😁

[2018-08-16 15:18] #56 closed

[2018-12-20 15:05] mlhetland opened #64 "Tagged whitespace disappears"
See also [Discourse thread](https://discourse.julialang.org/t/whitespace-issue-with-gumbo-jl/18832). I strongly suspect this is based on the original [Gumbo library](https://github.com/google/gumbo-parser)'s behavior (not having tested that), or maybe even is specified as part of the HTML5 parsing algorithm. In the latter case, I guess I'll just have to deal with it; in the former, if it's a bug,

[2018-12-27 23:54] porterjamesj commented on #64
Hi, thanks for reporting!

I've figured out what causes this, it is something on Gumbo.jl's end, not the underlying gumbo C library.

The C library does indeed parse and create nodes for all whitespace, however, Gumbo filters them out, since for a lot of typical Julian use-cases (extracting structured data from webpages, etc.), they're just noise. For instance, in the following example:

[code]

I

[2018-12-28 00:31] mlhetland commented on #64
Ah, I see! Well, it is an issue for a specific application of some screen scraping I’m doing at the moment – but it’s more of a one-off glitch because of weird markup in the source web pages (over which I have no direct control). But that’s not really enough to warrant adding special-casing/warts to `Gumbo.jl` :-) So I’d be okay with closing the issue, given this explanation.

This is an interesti

[2018-12-28 12:20] porterjamesj commented on #64
@mlhetland OK, thanks! I'm going to close this issue in that case. If other people open issues with similar needs, then I'll implement the option to preserve whitespace nodes.

The reason why whitespace between words in a text node doesn't disappear, is because the gumbo C library (and maybe the HTML spec?) draws a distinction between [text nodes that are *only* whitespace](https://github.com/goog

[2018-12-28 12:20] #64 closed

[2018-12-28 13:12] mlhetland commented on #64
Makes sense!

[2018-12-28 13:15] mlhetland commented on #64
Or, hm. No, that’a what I assumed. But why isn’t the node with whitespace between the two element nodes in my example removed? I assume that’s not a separate whitespace node, but stored differently?

[2019-01-05 21:33] porterjamesj commented on #64
I'm confused what you mean by "the node with whitespace between the two element nodes in my example". Is the example you're talking about `<em>foo</em> <em>bar</em>`? The whitespace is removed for me there too:

[code]

[2019-01-05 22:16] mlhetland commented on #64
Indeed – my mistake. I guess in my application I just didn't have any adjacent marked-up pieces of text, so this wasn't an issue. It does make this less of a marginal issue, though, as this kind of thing normally *does* occur in marked-up text, and dropping whitespace nodes will then garble the text. Even if you don't want to extract the plain text directly like this, as long as you're treating th

[2019-06-20 07:02] scls19fr opened #70 "readhtml function (or read(fname, HTML))"
Hello,

Gumbo have a `parsehtml` function but reading HTML from file can be do using

    parsehtml(read(filename, String))

Maybe a `readhtml` function should be defined as

    readhtml(filename, args... ; kwargs...) = parsehtml(read(filename, String), args...; kwargs...)

An other API idea could be (to mimic `read` API) to have the following functions:

    parse(input, HTML)

and

    read(fil

[2019-06-20 07:35] scls19fr opened #71 "Convert HTML file with table to DataFrame"
Hello,

I have an HTML file with a table and would like to convert it to a Julia DataFrame.

I was looking for a function similar to Python Pandas [`read_html`](https://github.com/pandas-dev/pandas/blob/v0.23.4/pandas/io/html.py#L826-L987) function (which directly output a list of DataFrame).

Unfortunately I don't see similar function in Julia ecosystem

In Gumbo doc I was looking for an example

[2019-06-20 08:23] scls19fr commented on #71
I wrote this code (which can help those who are looking for a similar feature)

[code]

but this code is just a (very) quick implementation... which won't work with more complex HTML page with tables

[2019-06-20 15:04] porterjamesj commented on #71
Hi Sébastien,

Thanks for opening the issue, I agree this would be a good thing to have. I'd rather not have a dependency on DataFrames in this package, since it's a large dependency that's not necessary for Gumbo's core functionality.

My impression is that the best way to do this would be to implement the [Tables.jl interface](https://github.com/JuliaData/Tables.jl) for `HTMLElement{:table}`, an

[2019-06-20 15:13] scls19fr commented on #71
I really the idea of implementing Tables.jl interface for `HTMLElement{:table}`
Pinging @quinnj @davidanthoff

[2019-06-20 15:17] quinnj commented on #71
Yeah, it sounds like a great idea. Happy to help support however I can here. Currently, Tables.jl doesn't have a concept of streaming multiple tables at a time, but as long as there's a way to "select" a single table tag and "stream" that, then it should work pretty well. Happy to chat on slack if anyone wants to brainstorm this.

[2019-06-20 16:33] porterjamesj commented on #71
@quinnj yeah, I think we're on the same page. I'm imagining that it's up to the user to locate a single `<table>` element in their HTML and pass that into the `DataFrame` constructor (or whatever else that uses the tables interface).

I'm actually pretty excited about this idea, since this is a feature request that's come up before, and I love the smooth interoperability between the whole ecosyste

[2019-06-20 16:50] quinnj commented on #71
Cool, yeah, just let me know if you run into any issues. Just to get the ball rolling, some things to think about include:
  * I'm not sure it makes sense to define the Tables.jl interface on `HTMLElement{:table}` directly, perhaps you'd want a dedicated `HTMLTable` type that could wrap the element node
  * Feel free to overload `Tables.table(x::HTMLElement{:table})` for this, or just use your own

[2019-06-20 17:38] porterjamesj commented on #71
Thanks! That all makes sense. I agree there are some tricky parts and some places that'll have to use heuristics and guessing (for schemas, types, etc.). I think it's fine to just "do our best" and then people can clean things up themselves if they end up with messy data. The only thing I'm curious about is what the utility of the wrapper type (`HTMLTable`) is vs. defining the Tables interface dir

[2019-06-20 17:41] quinnj commented on #71
The main decision there is whether you're comfortable defining `iterate(x::HTMLElement{:table})` to iterate NamedTuples. To me, that seems maybe a little weird, hence the suggestion to use an explicit wrapper type that provides a proper object to iterate NamedTuples. But then again, I'm not familiar w/ the details of the package very well, so feel free to make the call.

[2019-06-20 18:21] porterjamesj commented on #71
Ahh, that make sense—I didn't realize the Tables interface required overriding the Base `iterate` function. I agree a wrapper type makes sense given that, we probably want `iterate` to iterate child elements for all `HTMLElements`.

[2019-06-21 17:19] scls19fr commented on #70
An other approach could be to integrate with [FileIO.jl](https://github.com/JuliaIO/FileIO.jl)

[2019-12-03 01:02] drrajeshtalluri opened #73 "Information about node position in parent"
Hi,
      I was trying to use Gumbo.jl to manipulate the DOM by changing tags and content of nodes. However, I am confused with some code.
[code]

If I wanted to change/ replace the first `<span>` node to a `<abc>` node
[code]
The following does not work
[code]
I have to assign this in the parents children for it to work. For which I have to know the position of the node in the parent node.

[code

[2020-01-13 13:14] aviks commented on #73
Hi @drrajeshtalluri you'll probably have more luck getting answers to your questions on our discourse or slack channels. See here for more: https://julialang.org/community/

Github issues are useful when you are reporting a bug.

[2020-01-13 13:14] #73 closed

[2020-01-31 17:29] programistawpf opened #78 "ERROR: MethodError: no method matching tag(::HTMLText)"
What to do ? Is posible define new tags ? how ?
Win7 64
[code]
Thanks Paul

[2020-03-20 20:21] aviks commented on #78
Text is not a tag, it's just the string content. So this works as expected, I'd say.

[2020-03-20 20:21] #78 closed

[2020-03-26 18:27] Nosferican commented on #71
Any update on this? It would be great to get a Table from `HTMLElement{:table}`.

[2020-05-03 00:38] porterjamesj opened #83 "Maintainership"
Hi all,

I'm the original author of this package, but as is probably obvious to those of you who use it heavily, I don't really have the bandwidth or interest to maintain it anymore.

In practice, maintenance has been done by an ad-hoc group of JuliaWeb organization members for a while now. I'm opening this issue mostly to acknowledge this, formally hand-off maintenance, and so those interested ca

[2020-05-06 16:34] BenjaminGalliot opened #84 "Strange behaviour with autoclosing tags"
Hello!

I saw this strange behaviour, which can be useful sometimes but also rather dangerous in many cases: some tags which must not be autoclosing but autoclosed propagate until the parent closing tag, changing the tree structure.

[code]

[code]

I think that being more conservative and just putting the closing tag just after, without comprising the following text, is more secure.

I think this

[2020-05-15 15:34] aviks commented on #83
I don't have much time to work on this package, but I'm happy to review PRs and keep things ticking along, since this is a dependency of some of my packages. This repo is already in an org, with wide membership, so I don't think anything specific needs to be done for now.

[2020-05-15 15:37] aviks commented on #84
Is this something we can control? This looks like something that the underlying gumbo C library does? In which case there is not much we can do about it I suppose.

[2020-05-15 16:05] pfitzseb commented on #83
I'd also be happy to review PRs and fix the occasional bug :)

[2020-05-20 15:06] BenjaminGalliot commented on #84
I found this [old topic](https://github.com/google/gumbo-parser/issues/353). It seems we cannot do much on our level, it seems…

[2020-05-20 15:27] aviks commented on #84
Yeah, I read the linked issue, and the maintainers are pretty clear in their stance. I will close this as "out of scope". Thanks for raising the issue and researching it -- its good to have this documented.

[2020-05-20 15:27] #84 closed

[2020-06-25 04:26] aminya opened #85 "LibXML2 (EzXML.jl) bindings"
Is there a possibility that we have LibXML2 bindings similar to this:
https://github.com/sevenval/gumbo-libxml

The conversion is very simple. We just need a `node_convert` function similar to [this](https://github.com/sevenval/gumbo-libxml/blob/f96a091c2c000b0ab3d1458e76748a7e2e486af4/gumbo_libxml.c#L30-L100) to convert html5ever nodes to LibXML nodes, and also a `html5_parse` function which uses

[2020-06-25 04:34] aminya commented on #71
If we fix #85, we can just use AcuteML which already supports Tables.jl.

https://github.com/aminya/AcuteML.jl

[2020-06-29 18:06] porterjamesj commented on #83
Great, thanks all! Just wanted to make sure to let folks know before I unsubscribed from notifications.

[2020-06-29 18:06] #83 closed

[2020-07-03 12:45] essenciary opened #86 "Gumbo strips away template tags"
Ex:

[code]

vs

[code]

Gumbo: 0.8.0

[code]

Thanks

[2020-07-30 08:08] essenciary commented on #86
Can anybody comment on this please? It's a major pain when building HTML frontends the `<template>` tag is key. I've been trying a million things to keep it in the DOM but nothing seems to work. Not sure if this is normal behaviour - it's true that browsers don't render `<template>` on the page but it's in the DOM.

Alternatively, maybe having the option/config to replace/remove `:template` from t

[2020-08-07 10:24] aviks commented on #85
I'd be happy to see a PR with that. I don't think I have the time to implement this myself.

[2020-08-07 10:27] aviks commented on #86
Can you test this with the C library, and see what the behaviour is there? In general, we're only a very thin layer around the C library.

[2020-08-07 10:56] aviks commented on #86
This also looks relevant: https://github.com/google/gumbo-parser/blob/aa91b27b02c0c80c482e24348a457ed7c3c088e0/src/gumbo.h#L304

[2020-08-07 11:11] aviks commented on #86
Ok, so having investigated this, what we need is something along the lines of #75, but for TemplateNodes.

In `CGumbo.jl` we need to define `const TEMPLATE = Int32(6)`. Then pass a `preserve_template` optional argument through the parsing options like in #75. Finally, in `conversion.jl#load_node` function, check the type and this argument to load the node. The actual node type (according to the gu

[2020-08-07 11:23] essenciary commented on #86
Oh, awesome findings, thank you @aviks !

[2020-09-24 16:36] clarkevans commented on #86
Is this still an issue?  I need to be using template tags.

[2020-09-24 16:48] aviks commented on #86
Yes, I don't think we've got a PR for this, and I've not had the time to implement this myself. The strategy described in https://github.com/JuliaWeb/Gumbo.jl/issues/86#issuecomment-670465114 is what needs doing.

[2020-10-19 01:49] anandijain opened #87 "Segfault from `map(x->parsehtml(String(x.body)), xs)`"
I'm assuming that it was just out of memory error, but Julia still crashed from segfault, so filing an issue.
The stacktrace is rather long, so I just included the start and end.

[code]

[code]

[2020-10-19 18:46] aviks commented on #87
Is this sefault reproducible? If you can reliably reporoduct it, it would be great to get an RR trace of it. (https://julialang.org/blog/2020/05/rr/)

[2021-03-06 08:07] programistawpf opened #88 "ERROR: MethodError: no method matching tag(::HTMLText)"
'''
julia> url="http://rp.pl"
"http://rp.pl"

julia> doc=parsehtml(String(read(download(url))));

julia> for elem in PreOrderDFS(doc.root) println(tag(elem)) end
HTML
head
script
ERROR: MethodError: no method matching tag(::HTMLText)
Closest candidates are:
  tag(::HTMLElement{T}) where T at C:\Users\PC\.julia\packages\Gumbo\OhZJu\src\manipulation.jl:6
Stacktrace:
 [1] top-level scope at .\REPL[86

[2021-03-06 22:09] aviks commented on #88
Text nodes don't have a tag. So this is as expected, I think.

[2021-03-06 22:09] #88 closed

[2021-03-10 13:20] programistawpf commented on #88
expected but Julia is stoped... What now ?

[2021-11-22 05:17] abcfy2 opened #89 "Not working in Alpine Linux or julia musl."
Hi there.

I use this in Alpine Linux, but I got this error:

[code]

What's wrong ? How could I use it in Alpine Linux?

[2021-11-22 17:48] aviks commented on #89
We do build Gumbo binaries for musl as you can see here: https://github.com/JuliaBinaryWrappers/Gumbo_jll.jl/blob/master/Artifacts.toml

So I'm not really sure what could be wrong here.

[2021-11-22 19:46] aviks commented on #89
Thanks to the Yggdrasil maintainers, the fix is in https://github.com/JuliaPackaging/Yggdrasil/pull/3929 . Once the package [is registered](https://github.com/JuliaRegistries/General/pull/49187) this should be fixed.

[2021-11-23 02:10] abcfy2 commented on #89
Great. It's working now. Thank you.

[2021-11-23 02:10] #89 closed

[2021-12-14 05:56] AbhimanyuAryan opened #90 "ERROR: UndefVarError: libgumbo not defined macbook m1"
This is when I run `Gumbo v0.8.0` on `v"1.6.2"` on intel mac

[code]
when running `Gumbo v0.8.0` on mac m1 1.7.0

[code]

[2021-12-15 01:01] aviks commented on #90
The Gumbo jll is not compiled for this architecture. The [yggdrasil build](https://github.com/JuliaPackaging/Yggdrasil/blob/master/G/Gumbo/build_tarballs.jl) needs to be redone with the m1. I'll probably get to this at some point, but can't promise when. This is not high priority for me, sorry. I don't have access to this hardware. If someone gets to this before me, that'd be great.

[2021-12-15 07:50] AbhimanyuAryan commented on #90
@aviks I can compile it for M1 arch if that's ok?

[2022-01-02 15:17] giordano commented on #90
With latest `Gumbo_jll` (and without having to change anything else in this package, #91 isn't needed at all and I don't see its point), tests of this package pass for me:
[code]

[2022-01-03 13:20] aviks commented on #90
Thanks @giordano  and @AbhimanyuAryan.   Closed by https://github.com/JuliaPackaging/Yggdrasil/pull/4149

[2022-01-03 13:20] #90 closed

[2022-06-23 02:08] JuliaTagBot opened #93 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2022-06-23 02:08] #93 closed, assigned to nobody